body {
background-color:black;
}

#all {
width:1002px;
}

#cmain {
position:relative;top:-400px;
padding:20px;
}

p {
text-align:left;
text-indent:30px;
color:white;
}

h2{
background-color:gray;
margin:10px 150px 10px 50px;
padding:5px;
}

#footer {
position:relative;top:-400px;
padding:20px;
}

.maincontent {
display:none;
}

#mc00 {
display:block;
}